# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]

# Secret configuration files
server/config/config.*
migrations/

# SQLite DB
server/website/db/*
*.sqlite3


# Website
server/website/__pycache__/
server/website/static/images/*
