{% extends "base.html" %}
{% block title %}Kanji List{% endblock %}
{% block content %}
<h1>Kanji List</h1>
{% for kanji in kanjiList %}
<div class="kanji-block" id = "{{ kanji.character}}">
    <div class="kanji-title">{{ kanji.character }}</div>
    <div class="pronunciation">{{ kanji.reading }} — {{ kanji.meaning }}</div>
    <ul class="vocab-list">
        {% for voc in kanji.voc %}
        <li>
            <span class="voc-jp">{{ voc.word }}、{{ voc.reading }}</span>
            <span>{{ voc.meaning }}</span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endfor %}

{% endblock %}